button{
    border: outset black;
    border-radius: 10%;
}

section{
    padding-top: 75px;
    background-color: green;
}

header{
    background-color: grey;
    height: 75px;
    border-bottom: inset red 5px;
}

h1{
    text-align: center;
}

#button-box{
    ;

    display: inline-block ;

}

#choice-box{

    display: inline-block;
    width: 1000px;
    height: 400px;
    position: relative;
    left: 300px;

}

#score-box{
    left:775px;
    position: absolute;
    font-size: 2vw;
    height: 150px;
    width: 150px;

}

#user-choice{
    width:256px;
    height: 256px;
    border: outset black;
    border-radius: 10%;
    display: inline-block;
    margin-right: 10%;
    background-color: whitesmoke;
}

#computer-choice{
    width:256px;
    height: 256px;
    border: outset black;
    border-radius: 10%;
    display: inline-block;
    margin-left: 10%;
    background-color: white;

}

#resultat{

    width : 1000px;
    height:  50px;
    position: relative;
    left:300px;
    text-align: center;
    padding-top: 20px;
    font-size: 2vw;
}

#score-user{
    border: inset black ;
    width: 100px;
    height: 100px;

}
#score-computer{
    border: inset black;
    width: 100px;
    height: 100px;

}

footer{
    position: relative;
    background-color: grey;
    border-top: inset red 5px;
}